
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #2f2f2f;
}

.app {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 70px;
    margin-bottom: 1rem;
    position: relative;
    width: 320px
}

.app > button {
    padding: 0rem 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #0070c9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    height: 30px;
}
button {
    padding: 0rem 1.5rem;
    border: none;
    border-radius: 16pt;
    background-color: #0070c9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    margin-left: -.5rem;
}

a {
    color: #00a2ff
}


.appIcon {
    width: 50px;
    border-radius: 25px;
    padding: 0.75rem;
}

.appBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appName {
    margin: 0;
}
.appDescription {
    margin: 0;
    font-size: 12px;
    color: gray
}

#repoForm {
    margin-bottom: 1rem;
}

input[type="text"] {
    background-color: #1f1f1f;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
}

input:focus {
    border:none
}

.down {
    margin-left: 6px;
}